<div class="row header">
	<a href="/" style="display:block; text-decoration: none;">

	<img class="logo" />
	<h2  style="text-align: center; margin-bottom:0rem ; color:var(--mc);" >Climb  Grader</h2>
	</a>
</div>