
<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="UTF-8" />
<meta name="google-signin-client_id" content="113376552233-bnfn9a6s6525tublaro1c39r8e76b42n.apps.googleusercontent.com.apps.googleusercontent.com">
  <title>Climb Grader</title>
  <meta name="description" content="A web application for IRL climb grading.">
  <meta name="author" content="KNAXEL (Cole N Philipp)">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/skeleton_plus.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/cg.png">

  <!-- scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>

  <style>
  	.navbar{
  		margin-top: 1.5rem;
  		border-top: 1px solid #eee;
  		border-bottom: 1px solid #eee;
  	}
  	.navbar ul {
  		display: flex;
  		list-style: none;
  		flex: row;
  		margin: 0; 
  	}
  	.navbar li {
  		margin: 0; 
  	 	margin-right: 35px;
  	 }
  	.navlink {
  		text-decoration: none;
  		color: black;
  		text-transform: uppercase;
  		cursor: pointer;
  		line-height: 5;
  		font-weight: 400;
  		font-size: ;
  	 }
  	 img.logo{
  	 	display: block;
  	 	margin: 0 auto;
  	 }

  	 label {
  		font-weight: 400;
  		text-transform: uppercase;

  	 }
     hr {border-color: #eee;}
  </style>
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="column" style="margin-top: 5%">
      	{{{body}}}
    	</div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body> 
</html>
