
{{>header}}
<hr>
<h3  style="text-align: center;" >{{gym.name}}</h3>
<h5  style="text-align: center;" >Climbs at this gym have a 5 digit code on them you can enter here to find them!</h5>
<hr>
{{#if error}}
<div class="row">
	<p style="text-align: center;color:red;">
		{{error}}
	</p>
</div>
<hr>
{{/if}}

<input name="search" id="input_search" type="number" pattern="[0-9]*" placeholder="00000"/>
<button onclick="search();" name="confirm" > Confirm </button>

<script type="text/javascript">
function search(){
	window.location.href = "/g/{{gym._id}}/" +$("#input_search").val();
}
</script>