{{>header}}

{{>navbar}}

<div class="row" >
	<div class="five columns" style="margin: 0 auto;float: none;text-align: center;margin-top: 5%"> <p>Remember! Each gym should only have one account. Only your gym owner, manager, or team leader needs to have an account for your gym!</p></div>
</div>
<hr>
<form>
	<div  style="margin-top: 5%" class="row">
		<div class="column"> 
			<label > email </label>
			<input type="password" class="u-full-width" />
		</div>
	</div>
	<div  class="row">
		<div class="column"> 
			<label > password </label>
			<input type="password" class="u-full-width" />
		</div>
	</div>
	<div  class="row">
		<div class="column"> 
			<label > password confirm </label>
			<input type="password" class="u-full-width" />
		</div>
	</div>
	<div  class="row">
		<div class="column"> 
			<label > gym name </label>
			<input type="text" class="u-full-width" />
		</div>
	</div>
	<div  class="row">
		<button style="float:right;">Create the Account</button>
	</div>
</form>
